@use "../../style/utils/variable";
@use "../../style/utils/media";

.score {
  align-items: center;
  border-radius: 10px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  max-width: 500px;
  outline: variable.$header-outline solid 2px;
  overflow: auto;
  padding: 10px 20px;
  width: 70%;

  .gameLogo {
    height: auto;
    max-width: 100%;
  }

  .points {
    align-items: center;
    background-color: variable.$white;
    border-radius: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 26px;

    &Text {
      color: variable.$score-text;
      font-size: 10px;
      font-weight: variable.$font-weight-semi-bold;
    }

    &Result {
      color: variable.$dark-text;
      font-family: variable.$font-family;
      font-size: 42px;
      font-weight: variable.$font-weight-bold;
      line-height: 85%;
    }
  }
}
