@use "../../style/utils/variable";
@use "../../style/utils/media";
@use "../../style/components/button";

.score {
  align-items: center;
  border-radius: 8px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  max-width: 500px;
  border: var(--color-border) solid 2px;
  overflow: auto;
  padding: 10px 20px;
  width: 70%;

  .gameLogo {
    height: auto;
    max-width: 30%;
  }

  .points {
    @include button.primary;

    align-items: center;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 99px;
    width: 20%;

    &Text {
      padding: 0;
      margin: 0;
    }

    &Result {
      padding: 0;
      margin: 0;

      --text-color: var(--color-primary);
    }
  }
}
