@use "../utils/media";
@use "../base/font";

:root {
  --button-bg-color: var(--color-secondary);
  --button-border-radius: 8px;
  --button-border: none;
  --button-color: var(--btn-text);
  --button-font-size: #{font.$size-md};
  --button-padding: 12px 24px;
  --button-font-weight: #{font.$weight-semi-bold};
}

button {
  font-family: font.$family;
  line-height: font.$line-height;

  -webkit-tap-highlight-color: transparent;
}

@mixin primary {
  background-color: var(--button-bg-color);
  border-radius: var(--button-border-radius);
  border: var(--button-border);
  color: var(--button-color);
  font-size: var(--button-font-size);
  font-weight: (--button-font-weight);
  padding: var(--button-padding);
  text-transform: uppercase;
  transition: transform 0.2s linear;

  @include media.hover {
    transform: scale(1.1);
  }
}

@mixin secondary {
  --button-bg-color: transparent;

  margin: 0;
  padding: 0;

  background-color: var(--button-bg-color);
  border: var(--button-border);
}

@mixin tertiary {
  @include primary;

  --button-bg-color: transparent;
  --button-border-radius: 8px;
  --button-border: var(--color-border) solid 2px;
  --button-color: var(--color-secondary);
  --button-font-size: #{font.$size-sm};
  --button-padding: 10px 20px;
}
