@use "../utils/variable";

@mixin winner-gradient {
  z-index: -1;
  background-image: radial-gradient(
    hsla(0, 0%, 100%, 0.1) 0,
    hsla(0, 0%, 100%, 0.1) 40%,
    variable.$radiant-bg-dark-blue 40%,
    variable.$radiant-bg-dark-blue 41%,
    hsla(0, 0%, 100%, 0.1) 54%,
    variable.$radiant-bg-dark-blue 54%,
    variable.$radiant-bg-dark-blue 55%,
    hsla(0, 0%, 100%, 0.1) 100%
  );
  border-radius: 50%;
}
