@use "../utils/variable";
@use "../utils/media";
@use "../base/font";

:root {
  --text-color: var(--color-secondary);
}

h2 {
  color: var(--text-color);
  font-size: font.$size-xl;
  font-weight: font.$weight-bold;
}

h3 {
  color: var(--text-color);
  font-size: font.$size-lg;
  font-weight: font.$weight-bold;
  letter-spacing: 0.125rem;
}

p {
  --text-color: var(--color-primary-light);

  color: var(--text-color);
  font-size: font.$size-md;
  font-weight: font.$weight-bold;
}

@mixin player-name {
  text-transform: uppercase;
  padding-bottom: 60px;

  @include media.mobile {
    order: 1;
    padding-top: 10px;
    padding-bottom: 0;
  }
}
