@use "../../style/animation";

@keyframes blink {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.gameResultMsg {
  @include animation.expand;

  animation: blink 1s linear 0s 3;
  animation: expand 0.2s linear 0s 1;
  padding: 16px;
  text-align: center;
  text-transform: uppercase;
}
