@use "../../style/utils/variable";

@keyframes blink {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.gameResultMsg {
  animation: blink 1s linear 0s 3;
  color: variable.$white;
  font-family: variable.$font-family;
  font-size: 32px;
  font-weight: variable.$font-weight-bold;
  padding: 16px;
  text-transform: uppercase;
  text-align: center;
}
