@use "../../style/utils/variable";

@keyframes blink {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.gameResultMsg {
  animation: blink 1s linear 0s 3;
  padding: 16px;
  text-align: center;
  text-transform: uppercase;
}
