.game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.play-view {
  display: flex;
  align-items: flex-end;
  gap: 160px;
  position: relative;

  animation: play-view-init-animation;
  animation-duration: 0.5s;

  @keyframes play-view-init-animation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.play-view-animation {
  @extend .play-view;
  animation: play-view-animation-result;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;

  @keyframes play-view-animation-result {
    from {
      gap: 0px;
    }
    to {
      gap: 160px;
    }
  }
}

.menu-view {
  display: flex;
  align-items: flex-end;
  gap: 170px;
  position: relative;

  animation: menu-view-animation;
  animation-duration: 0.5s;

  @keyframes menu-view-animation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@media (max-width: 1024px) {
  .menu-view {
    transform: scale(0.7, 0.7);
  }

  .play-view {
    transform: scale(0.6, 0.6);
  }

  .game-result {
    position: absolute;
    top: 120%;
    left: 30%;
    transform: scale(2);
  }
}
