@use "../../style/base/font";

.author {
  position: fixed;
  left: 0;
  bottom: 20px;
  width: 100%;
  font-size: font.$size-sm;
  text-align: center;
  color: var(--color-secondary);

  & a {
    color: var(--color-primary);
  }
}
