@import "../../style/main";

.house {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

  &-picked {
    @include player-name;
  }

  .winner-gradient-house {
    @include winner-gradient;
    top: -60px;
    left: -200px;
  }

  .image-loop {
    width: 107px;
    height: 110px;
    animation: item-loop;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-iteration-count: 6;
    animation-delay: 0.5s;
    background-size: contain;
    background-repeat: no-repeat;
    transform: scale(2);
    background-image: url("../../asset/images/empty-selection.svg");

    @keyframes item-loop {
      0% {
        background-image: url("../../asset/images/paper.svg");
      }
      33% {
        background-image: url("../../asset/images/scissors.svg");
      }
      100% {
        background-image: url("../../asset/images/rock.svg");
      }
    }
  }

  .paper {
    width: 107px;
    height: 110px;
    background-image: url("../../asset/images/paper.svg");
    transform: scale(2);
  }

  .scissors {
    width: 107px;
    height: 110px;
    background-image: url("../../asset/images/scissors.svg");
    transform: scale(2);
  }

  .rock {
    width: 107px;
    height: 110px;
    background-image: url("../../asset/images/rock.svg");
    transform: scale(2);
  }
}

@media only screen and (max-width: 1024px) {
  .house {
    flex-direction: column-reverse;
    padding-top: 90px;
    justify-content: space-between;
    width: 150px;
    height: 310px;

    .winner-gradient-house {
      top: -125px;
      left: -195px;
      transform: scale(0.8);
    }
  }
}
