@use "../utils/variable";

body {
  margin: 0;
  padding: 0;

  background-image: variable.$radial-gradient-bg;
  background-repeat: no-repeat;
  font-family: variable.$font-family;
  min-height: 100vh;
}
