@use "../utils/variable";

@use "./font";
@use "./color";

body {
  margin: 0;
  padding: 0;

  background-image: var(--color-bg);
  background-repeat: no-repeat;
  font-family: font.$family;
  line-height: font.$line-height;
  min-height: 100vh;
}
