@import "../../style/main";

.play-view {
  display: flex;
  align-items: flex-end;
  gap: 170px;
  position: relative;

  .player {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .you-picked {
    @include player-name;
  }

  .winner-gradient {
    position: absolute;
    z-index: -1;
    height: 540px;
    width: 540px;
    top: -52px;
    left: -216px;
    background-image: radial-gradient(
      rgb(255, 255, 255, 0.1) 0,
      rgb(255, 255, 255, 0.1) 40%,
      #141539 40%,
      #141539 41%,
      rgb(255, 255, 255, 0.1) 54%,
      #141539 54%,
      #141539 55%,
      rgb(255, 255, 255, 0.1) 100%
    );
    border-radius: 50%;
  }

  .house {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .house-picked {
      @include player-name;
    }

    .winner-gradient-house {
      @extend .winner-gradient;
      top: -52px;
      left: 264px;
    }
  }

  .game-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .paper {
    transform: scale(2);
  }

  .scissors {
    transform: scale(2);
  }

  .rock {
    transform: scale(2);
  }
}
