@use "../../style/utils/media";

.game {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;

  .mainScreen {
    display: flex;
    flex-direction: column;

    .players {
      display: flex;
      gap: 10vw;

      @include media.mobile {
        flex-direction: row;
        justify-content: center;

        gap: 5vw;
      }
    }

    .controls {
      display: block;

      @include media.mobile {
        display: none;
      }
    }

    .controlsMobile {
      display: none;

      @include media.mobile {
        display: block;
      }
    }
  }
}
