@use "../../style/utils/media";

.game {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 80px;
  justify-content: space-around;
  min-height: 100vh;
  overflow: hidden;

  .mainScreen {
    align-items: center;
    display: flex;
    gap: 10vw;
    justify-content: center;

    @include media.mobile {
      flex-wrap: wrap;
      gap: 5vw;
      padding-top: 20px;
    }
  }

  .controls {
    @include media.mobile {
      max-width: 160px;
      order: 1;
      width: 60%;
    }
  }
}
