@use "../../style/utils/variable";

.play-again-btn {
  width: 140px;
  height: 35px;
  background-color: variable.$white;
  border: none;
  border-radius: 5px;
  font-family: variable.$font-family;
  font-weight: variable.$font-weight-semi-bold;
  color: variable.$play-btn-color;
  font-size: 12px;

  &:hover {
    transform: scale(1.2);
  }
}
