@import "../../style/main";

.play-again-btn {
  width: 140px;
  height: 35px;
  background-color: $white;
  border: none;
  border-radius: 5px;
  font-family: $font-family;
  font-weight: $font-weight-semi-bold;
  color: $play-btn-color;
  font-size: 12px;
}
