@use "../../style/components/text";
@use "../../style/components/gradient";
@use "../../style/components/gesture";
@use "../../style/utils/media";

.house {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  .pickedTitle {
    @include text.player-name;
  }

  .gesture {
    @include gesture.game-result;
  }

  .winnerGradient {
    @include gradient.winner;

    left: -185%;
    top: -55%;

    @include media.mobile {
      left: -65%;
      top: -50%;
    }
  }
}
