@use "../../style/components/text";
@use "../../style/components/gradient";
@use "../../style/utils/media";
@use "../../style/components/gesture";

.house {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .pickedTitle {
    @include text.player-name;
  }

  .gesture {
    @include gesture.game-result;
  }
}
