@use "../../style/utils/variable";
@use "../../style/components/button";

.rulesBtn {
  @include button.tertiary;

  align-self: flex-end;
  letter-spacing: 0.125rem;
  margin-right: 20px;
  order: 1;
}
