@use "../../style/utils/variable";

.rulesBtn {
  padding: 10px 40px;

  color: variable.$white;
  font-size: 10px;
  font-weight: variable.$font-weight-bold;
  letter-spacing: 2px;
  outline: variable.$header-outline solid 2px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin-top: 10px;

  &:hover {
    transform: scale(1.2);
  }
}
