@use "../../style/utils/media";
@use "../../style/components/button";

@mixin gesture-btn {
  @include button.secondary;

  align-items: center;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  position: absolute;
  transition: transform 0.2s linear;

  &:hover {
    transform: scale(1.1);
  }

  @include media.mobile {
    transform: scale(0.8);

    &:hover {
      transform: scale(0.9);
    }
  }
}

.gameMenu {
  align-items: center;
  display: flex;
  justify-content: center;
  max-width: 360px;
  min-width: 260px;
  position: relative;
  width: 60%;

  .triangle {
    height: auto;
    width: inherit;
  }

  .paper {
    @include gesture-btn;

    left: 0;
    top: -30%;
  }

  .rock {
    @include gesture-btn;

    right: 0;
    top: -30%;
  }

  .scissors {
    @include gesture-btn;

    bottom: -30%;
  }
}
