@use "../../style/components/text";
@use "../../style/components/gradient";
@use "../../style/utils/media";
@use "../../style/components/gesture";

.player {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

  .youPicked {
    @include text.player-name;
  }

  .gesture {
    @include gesture.game-result;
  }

  .winnerGradient {
    @include gradient.winner;

    left: -235%;
    top: -55%;

    @include media.mobile {
      left: -90%;
      top: -50%;
    }
  }
}
