@use "../../style/utils/variable";
@use "../../style/utils/media";

.rulesModal {
  position: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: hsla(0, 0%, 0%, 0.4);

  .contents {
    align-items: center;
    background-color: var(--color-secondary);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px 20px;

    .title {
      --text-color: var(--color-primary);
    }

    .rules-img {
      transform: scale(0.8);
    }

    .close-icon:hover {
      opacity: 0.6;
    }
  }
}
